.about{
    height: 500vh;
    margin-top: 10rem;
    overflow-x: hidden;

    .about-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 25px;
        margin-left: 100px;

        .about-titles{
            font-family: sans-serif;

            .about-h1{
                padding-bottom: 10px;
            }
        }

        .about-img1{
            background-image: url(../../public/img/edwin-andrade-4V1dC_eoCwg-unsplash.jpg);
            height: 80vh;
            width: 60vw;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
        }
    }
    .about-info{
        position: absolute;
        top: 70rem;
        left: 15rem;
        height: 300px;
        width: 350px;
        background-color: #9BB9D1;
        font-family: sans-serif;
        clip-path: polygon(53% 0%, 52% 0%, 51% 100%, 51% 100%);
        opacity: 0;


        .about-info-titles{
        padding: 0 30px;
        text-align: center; 
        padding-top: 16px;  
        
        .about-info-p{
            line-height: 23px;
            padding-top: 40px;
        }
    }
    }


    .connect{
        font-family: sans-serif;
        margin-top: 15rem;
        padding: 0 35px;
        opacity: 0;
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);



        .connect-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 80px;

            .grid-h2{
                padding-bottom: 20px;
                color: #7bacd3;
            }

            .grid-p{
                line-height: 23px;
            }
        }
    }

    .bg-pic{
        background-image: url(../../public/img/pexels-jopwell-2422294.jpg);
        height: 110vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-top: 10rem;
        background-attachment: fixed;
    }

    .picsText-container{
        margin-top: 25rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding: 0 35px;
        font-family: sans-serif;

        .container-grid-1{
            display: flex;
            flex-direction: row;

            .conatiner-grid1-img{
                background-image: url(../../public/img/pexels-kelly-2881370.jpg);
                height: 60vh;
                width: 50vw;
                background-size: cover;
                background-position: center center;
                opacity: 0;
                clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);

            }

            .container-grid1-titles{
                padding-left: 5rem;
                width: 30%;

                .grid1-p{
                    padding-top: 25px;
                }
            }
        }

        .container-grid-2{
            margin-top: 4rem;
            display: flex;
            flex-direction: row;

            .conatiner-grid2-img{
                background-image: url(../../public/img/pexels-yan-krukau-8199562.jpg);
                height: 60vh;
                width: 50vw;
                background-size: cover;
                background-position: center center;
                opacity: 0;
                clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            }

            .container-grid2-titles{
                padding-right: 9rem;
                width: 50%;

                .grid2-p{
                    padding-top: 25px;
                }
            }
        } 
    }
}